# Config options for BcuCommunicatorTest

LOG_LEV			    int			4	

# Number of BcuCommunicators to start
COM_NUM				int			1

MAX_BCU_QUEUE_SIZE  int         4
RECEIVE_TIMEOUT_MS 	int			10
ALLOWED_TIMEOUTS	int			4			# Allowed consecutive timeouts
	
PACKET_NUM		    int			10
PACKET_SIZE		    int			1456       	#In bytes !!!

LOCAL_PORT		    int			10002	    # Must be BCU_PORT when connected to the real BCU !!!
											# Must be different when connected to BcuSimulator

BCU_IP			    string		193.206.155.155	# 192.168.0.58 (BCU), 193.206.155.40 (tosetti's PC)
												# 193.206.155.155	(AdSec)
BCU_PORT		    int			10012

										

